.Header {
    display: flex;
    flex-direction: column;
    padding-right: 215px;
    padding-left:188px;
    height: 100vh;
    background-color: #F8F8FB;

}

.Header::-webkit-scrollbar {
    display: none; 
}

.title {
    font-size: 48px;
    font-weight: 700;
    line-height: 40px;
    font-family: 'Figtree', sans-serif;
    color: #000000;
    width: 1038px;
    height: 65px;
    text-align: left;
    margin-bottom: 0px;
}


.description {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Figtree', sans-serif;
    color: #000000B2;
    width: 756px;
    height: 60px;
    text-align: left;
    margin-bottom: 40px;
}


.technologies{
    display: flex;
    justify-content: space-between;
}






.web-technologies {
    width: 550px;
    white-space: nowrap;
    height: auto;
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

.web-technologies h2 {
    border-bottom: 3px solid #DBE3EF;
    padding-bottom: 20px;
    width: 80%;
}

.web-categories {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 20px; 
    margin-top: 50px;   
}

.category1 {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    font-family: 'Figtree', sans-serif;
    padding-right: 10px;
    width: 140px;
    height: 48px;
    
}
.category2 {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    font-family: 'Figtree', sans-serif;
    padding-right: 10px;
    width: 140px;
    height: 48px;
    
}
.category3 {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    font-family: 'Figtree', sans-serif;
    padding-right: 10px;
    width: 140px;
    height: 48px;
    
}
.category4 {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    font-family: 'Figtree', sans-serif;
    padding-right: 10px;
    width: 140px;
    height: 48px;
    
}
.category5 {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    font-family: 'Figtree', sans-serif;
    padding-right: 10px;
    width: 140px;
    height: 48px;
    
}





.backend-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 350px;
    margin-left: -10px;
    margin-top: -50px;
}

.frontend-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 350px;
    margin-left: 330px;
    margin-top: -510px;
}

.backend-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 120px;
    margin-bottom: -60px; 

}

.backend-items img {
    width: 200px;
    height: 200px;

    
}

.backend-items span {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin-top: -20px;
}


.frontend-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 120px;
    margin-bottom: -60px; 

}

.frontend-items img {
    width: 200px;
    height: 200px;

    
}

.frontend-items  span {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin-top: -20px;
}




.mobile-technologies {
    width: 450px;
    white-space: nowrap;
    height: auto;
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

.mobile-technologies h2 {
    border-bottom: 3px solid #DBE3EF;
    padding-bottom: 20px;
    margin-bottom: 50px;
    width: 100%;
}

.mobile-categories {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}



.ios-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top:-48px ;
}

.cross-platform-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-top:-138px;
    margin-left: 220px;
    width:350px;
}

.ios-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    width: 80px;
    margin-bottom: -60px; 

}

.ios-items img {
    width: 200px;
    height: 200px;

    
}

.ios-items span {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin-top: -20px;
}

.cross-platform-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    width: 80px;
    margin-bottom: -60px; 

}

.cross-platform-items img {
    width: 200px;
    height: 200px;

    
}

.cross-platform-items span {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin-top: -20px;
}



.android-category {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 240px;
}

.android-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-top:-55px;
    margin-left: 8px;
    width:350px;
}

.android-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    width: 80px;
    margin-bottom: -60px; 

}

.android-items img {
    width: 200px;
    height: 200px;

    
}

.android-items span {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin-top: -20px;
}